@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-ThinItalic-webfont.eot');
  src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-ThinItalic-webfont.woff') format('woff'),
       url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
       url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
  font-weight: 200;
}


button{
    width: 143px;
    background-color: #F46464;
    border-radius: 50PX;
    height: 46px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 40px 0px 0px 20px;
    border-style: none;
    
    
   
}

/*________________________________________________________ Home start_______________*/


.topnav {
    
    display: block;
    justify-cmyTopnavntent: space-between;
    padding: 3px 50px;
   
  }
  
  .topnav a {
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 30px;
  }
  
  .topnav a:hover {
    
    color: #fc5c65;
  }
  
  
  .penine{
    color:#fc5c65;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
  }
  .topnav .icon {
    display: none;
  }
  .gap_links{
    flex-grow: 1;
  }

  .software{
    color: white;
    font-size: 20px;
    
    
    

    
  }

  .hire-me a{
    color:white;
    text-decoration: none;
  }
  .hire-me a:hover{
    color:black;
    text-decoration: none;
  }



  .hire-me:hover{
    letter-spacing: 0.25rem;
    background-color: white;
    box-shadow: 0 0 35px #F46464;
   color:black;
  }
  .para{
    color: white;
    font-size: 18px;
  }

  .penina{
    color:#fc5c65;
  }
  
 .icons{
  margin-top: 40px;

 }

 .icon i{
  margin: 20px 20px 20px 0;
 }

 


 
/*________________________________________________________ Home ends_______________*/


.image{
    width: 30%;
    
    background-color: #715f69;
    

}
.about-header a:hover{
    color:#F46464;

}


.image img{
    width: 80%;
    height: 100%;
}

.nav{
    width: 70%;
   
    padding: 30px 20px;
    padding: 5px 0px;
    text-align: left;
    
}

.p{
    width: 100%;
    height: 100%;
    color: black;
    border: 3px solid #F46464;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 20px;
    
}
.container{
     width: 100%;
     height: 100%;
     max-width: calc(100%-20);
     margin: 2px;
     text-align: right;
     display: flex;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
   
}

 li a{
    
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
   
}
.active{
    color: #F46465;
}


 


li a:hover{
    color: #F46465;
    font-weight: 200px;
    
}

.me-message{
    margin-right: 20px;
    


}
.ngizwenayo{
    margin:80px 20px 0px 10px;
    font-size: 30px;
    padding-bottom: 10px
}

.web{
    margin:0px 20px 0px 10px; 
    font-size:26px;
    padding-bottom: 70px;
}

/*aboutpage ----------------------------------------------------------*/



#aboutus{
    font-size: 60px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    height: 90px;

}

#aboutus ul{
    display: flex;
}

#homeabout button{
    font-size: 20px;
    padding: 10px 18px;
    font-family: sans-serif;
    height: 48px;
    width: 200px;

}

#homeabout a{
    color: white;
    text-decoration: none;
}

#homeabout{
    height: 48px;
    margin: 10px 0px 0px;
    text-align: center;
}

#about_nav{
    
    margin: 0px -15px;
    background-color: black;
    color: white;
    
}

#about_nav a{
    color: white;
    text-align: right;
    justify-content: space-around;
    

}
#about_nav a{
    color: white;
    text-align: right;
    justify-content: space-around;
    

}

.pp{
 
    color: white;
    text-align:left ;
    justify-content: center;
    font-size: 30px;
    margin-right: 2px;
    cursor: pointer;
    padding-left: 20px;
    
}
.about-header{
display: flex;
justify-content:space-around;
}


#about-image img{
    width: 100%;
    height: 100%;
}
#about_image{
    padding-top: 60px;
    width: 100%;
}
#about-des{
    display: flex;
    background: black;
    color: white;
    width: 100%;
}

#description{
    
    width: 100%;
    margin: 10px;
    padding: 20px;
    text-align: justify;

}

#description h1{
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0px;
}
#description button{
    text-align: center;
}

#description p{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttons{
  text-align: center;

}
#more{
    background-color: #F46464;
    color: white;
    cursor: pointer;
    
    
}

#send-message:hover{
    letter-spacing: 0.25rem;
    background-color: white;
    box-shadow: 0 0 50px #F46464;
    color: black;
}
#resume{
    background-color: #F46464;
    color: white;
    cursor: pointer;
    
}

#resume:hover{
    letter-spacing: 0.25rem;
    background-color: white;
    box-shadow: 0 0 35px #F46464;
    color: black;
}
#more:hover{
    letter-spacing: 0.25rem;
    background-color: white;
    box-shadow: 0 0 50px #F46464;
    color: black;
}


#about_contact{
    background-color: #F46464;
    color: white;
    text-align: center;
    height: 200px;
    padding-bottom: 100px;
}

#about-contact h1 p{
text-align: center;
color: black;

}

#about-contact p{
    text-align: center;
    color: black;

}

#icon li svg{
    text-align: center;
}

span{
    color: #F46464;
}

/*_______________________________portifolio____________________________________*/

#cards{
    display: flex;
    
    color: white;
    text-align: center;
    padding: 50px;
}
#cards h1{
    font-size: 20px;
    
}



#one{
   background-color: rgb(7, 22, 90);
   width: 100px;
   height: 100px;
   cursor: pointer;
   padding: 50px;
   margin-left: 40px;
}

#two{
    background-color:#F46464;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 50px;
    margin-left: 40px;
    
}

#three{
    background-color:peru;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 50px;
    margin-left: 40px;
   
}

#four{
    background-color: darkgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 50px;
    margin-left: 40px;
    
}

#five{
    background-color: rgb(94, 69, 8);
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 50px;
    margin-left: 40px;
   
}

#five:hover{
    background-color: #715f69;
}

#two:hover{
    background-color: #715f69;
}
#one:hover{
    background-color: #715f69;
}
#three:hover{
    background-color: #715f69;
}
#four:hover{
    background-color: #715f69;
}

#icon li{
      display: flex;
      text-align: center;

}

#icon{
    width: 800px;
    text-align: center;
}

#body{
    background-color: black;
}

#loginpage p{
    font-size: 40px;
    text-align: center;

}




#loginpage{
    text-align: center;

}


footer{
    margin-top: auto;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0; 
    border-top: 2px solid gray;
    position: relative;
    
   
    
  }
  
  footer h1{
    font-weight: bolder;
  }
  html{
    height: 100%;
  
  }
  
  .test svg{
    fill: black;
    padding-left:20px;
    text-align: center;
  
  }
  
  .copyright{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 0px;
  }

  
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8px 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  margin-top: 100px;
  margin-bottom: 100px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #715f69;
  background-image: linear-gradient(45deg,#F46465,#715f69);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #715f69;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: black;
  
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
}
.navbar{
    height: 50px;

}

li{
    display: inline;
    padding: 10px;
    color:white;
    text-decoration: none;
    max-width: 100%;
    top: 20px;
    text-align: center;
}

li a{
    color:white;
    text-decoration: none;
    
}

li a:hover{
 
  color:#fc5c65;
  
}


.login-page {
  font-weight: 900px;
}

#container{
  text-align: center;
}

.form_contact{
  padding: 20px;
}


.home{
  justify-content: center;
  display: flex;

}

.logbtn{
  text-align:center;
  height: 48px;
  background-color: transparent;
  color: white;
  border: 0px;
  font-size:24px ;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50px;
top: 100px;
  
}

.logbtn a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
  
}

.hlogin{
  color: white;
  text-align: center;
}

footer{
  margin-top: auto;
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
  bottom: 0; 
  border-top: 2px solid gray;
  
}


html{
  height: 100%;

}

.test svg{
  fill: black;
  padding-left:20px;
  text-align: center;
  

}

.copyright{
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 0px;
}


/* ________________________________blog___________________________*/


.blog{
  text-align: center;
  padding: 60px;
  width:100% ;
}

.blog_card{
  margin-top: 20px;
  display: flex;
  text-align: center;
  background-image: url(/Assets/social.webp);
  width: 200px;
}
  


.blog_text{
    background-color:rgba(0, 0, 0, 1.0);
    position:absolute;
    top: o;
    padding: 10px;
    color: white;
    text-align: center;
}

.blog_text h2{
  font-size: 26px;
  text-transform: uppercase;
font-weight: bold;
margin-top: 2px;
}
.blog_body{
  width: 100%;
  background-color: white;
  height: auto;
  display: flex;
  padding: 20px;
  max-width: 100%;
}
.skill-card img{
  height: 300px;
  

}

.skill{
  display:flex;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*++++++++++++++++++++++++++++++++ contact form ++++++++++++++++++++++++++*/

.form_contact{

  text-align: left;
  columns: black;
}
.contact_btn {
  text-align:center;
  height: 48px;
  background-color: transparent;
  color: white;
  border: 0px;
  font-size:24px ;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50px;
top: 100px; ;
}

.contact_btn a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
}

.contact{
  justify-content: center;
  display: flex;
  background-color: none;
  padding: 60px;
}

.form-group input[type=text]{
  width: 400px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
 
}
.form-group input[type=phone]{
  width: 400px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
 
}


.form-group input[type=submit]{
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f53232;
  border: none;
  padding: 16px;
  color: white;
  cursor: pointer;
}

.form-group input[type=submit]:hover{
background-color:#715f69;
color: white;
border: 2px solid white;
font-size: 20px;
}

.form-group input[type=text-area]{
  width: 400px;
  height: 200px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}



.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.name{
  padding-bottom: 60px;
  background-color: #b3b3b3;
  width: 30%;
  border-radius: 5px;
  margin: 10px;
  height: 350px;
  padding: 30px;
  bottom: 20px;
  text-align: left;
}

.name p{
  padding: 20px ;

}

.name h1{
  padding: 20px  ;
  margin-bottom: 20px;
  height: 20px;
}

/*_____________________________________________ skills___________________*/

.blog{
   
    padding:10px;
    width:20%;
    height:auto;
    
    border-radius: 20px;
    margin:60px 10px;
    color: white;

}

.blog h1{
    padding:10px;
}
.blog img{
    width:250px;
    height: 180px;
    padding: 10px;
    border-radius:20px;
}
.blog-cotainer{
    display:flex;
    justify-content:space-around;

}

.blog p{
  text-align: justify;
  align-items: center;
}

.get-infos{
    color:white;
}






/*____________________________________________blog___________________*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inner{
  padding-top: 20px;
 
  
  
}

.header{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;

  
}


.header::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #fc5c65;
  
}
.header h1{
  position: relative;
  margin: 30px;
  text-transform: uppercase;
  font-size: 30px;
}

.sk{
  display:grid;
  grid-template-columns: repeat( 3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px  ;
  font-size: 1.2rem;
}

.sk:hover > .skill-title:after, .sk:hover > .skill-title:before{
  width:35px; 
}

.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor:pointer;

}

.skill-box p{
  text-align: justify;
}

.skill-box:hover > .skill-title:after , .skill-box:hover > .skill-title:after{
  width:35px; 
}

.skill-box:hover img{
  transform: translateY(-10px);
}


.skill-title{
   display:flex;
   flex-direction: column;
   align-items: center;
   padding:0.5rem;
   margin-bottom: 0.5rem;
  }
.skill-title h3{
  margin-top: 0.5rem;
  color: #fff;
}

.skill-title{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:0.5rem;
  margin-bottom: 0.5rem;
  position:relative;

}
.skill-title::after{
    content:'';
    position:absolute;
    bottom:0;
    right:50%;
    width:0px;
    height:4px;
    background:rgb(129, 18, 37);
    border-radius:2px 0 0 2px
    ;
    transition: 0.5s ;
  }

  .skill-title::before{
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    width:35px;
    height:4px;
    background:#fff;
    border-radius:0 2px 2px 0
    ;
    transition: 0.5s ;

  }


  .skill-image{
    width: 90px;
    height:90px;
    position:relative;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    translate:.5s;
  }
  .skill-image:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:90px;
    width:50%;
    background-color: rgb(100, 100, 100, 0.5);
    border-radius:5px 0 0 5px;
    }

  

  .skill-html{
    width:100px;
    z-index:2px
  }

  .skill-image img{
    
    width:100px;
    height: 50px;
  }

  

 .view:hover{
    letter-spacing: 0.25rem;
    background-color: white;
    box-shadow: 0 0 35px #F46464;
    color: black;

 }

 .view a{
  text-decoration: none;
  color: white;
 }

 

.me-message{
    color: white;
}


  
.dashboard{
  display: flex;
  
}

.blog-right{
  background: white;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.blog-right label{
  text-align: center;
  font-family:"Roboto", sans-serif;
  font-weight: normal;
}
.blog-right h1{
font-size: 18px;
text-align: center;
font-family: "Roboto", sans-serif;
margin-top:10px;

}
.ql-editor{
  width:100%;
  border:none ;
}
.headblog{
  background-color: black;
  display: flex;
  justify-content: space-around;
  /* padding:10px; */
  color: white;
  height: 80px;

  
}
.headblog p{
  margin-top: 20px;
  font-size:20px;
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
}

.newblog-titlecontainer{
  display:flex;
  flex-direction: column;
  width: 90%;
  row-gap: 20px;
/* background-color: green; */
margin:10px;


}
.addNewBlog{
  width:90%;
  margin:10px;
}
.gap{
  row-gap: 20px;
}
.newblog-titlecontainer input[type=text]{
  width: 100%;
  height: 40px;
  /* background-color: red; */
  margin-top:10px;
  
  
}
.postblog{
  text-align: center;
  margin-bottom: 10px;
}



#editor{
  width: 90%;
  height: 200px;
  margin:10px;
}

.imagesfromcomp{
  display: flex;
  
  width: 90%;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
  
}

.imagesfromcomp input{
  padding: 10px;
}
.onlineImage{
  /* background-color: rgb(243, 241, 237); */
  padding: 10px;
  font-family: 'Roboto',sans-serif;
}

.localImage{
  /* background-color: rgb(243, 241, 237); */
  padding: 10px;
  font-family: 'Roboto',sans-serif;
}
 .blogError1{
  display: none;
  font-size: 0.8em;
 }
.blogError1.visible{
  display: block;
}

.blogError1 input.invalid{
  color: red;
  border: red;
  
}

.ql-toolbar.ql-snow{
  width: 100%;
  height:30px;
  border-style: none;
  
}

.richTextEditor{
  
  /* border: 1px solid black; */
  width: 90%;
  margin: 10px;
  border: 1px solid black;
  
}
 .ql-toolbar.ql-snow {
  
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  height:0;
}


.comment-body-color-btn{
  color: white;
  background-color: #fc5c65;
  cursor:pointer;
  height: 10px;
  width:100px;
  border-radius: 5px;
}

.tiny-editor{
  height:200px;
  width:100%

  
}
.material-symbols-outlined{
  font-size: 30px;
}

.dash-btn a{
  text-align: center;
 
  
}

.newbog-containner{
  display: flex;
  width: 100%; 
  

}
.single-blog-comment-view{
  display:flex;
  justify-content: space-around;
}

.single-blog-comment-view p{
  color:white;
}
.admin-panel{
  background-color: black;
  width: 15%;
  display: block;
}

 .admin-panel h3{
  color:white;
  margin-top: 0 20px;
  padding: 15px;
  text-align:center;
 }

 .admin-panel{
  display: block;

 }
 .logs li{
  display: block;
  color: white;
 }


.new-section{
background-color: lightgray;
width: 80%;

padding:60px;
}

.new-section input[type=text]{
  height:30px;
  width: 400px;

  
  

}
.new-section h2{
  margin:10px 0;
}

.new-section input[type=text-area]{
  height: 100px;
  width: 50%px;
  overflow: scroll;
  
}

.tinyeditor-section{
display: block;
}

.tinyeditor-section input[type=text]{
  padding: 15px;
  margin: 10px;
}
.upload{
  width:90px;
  height:90px;
  background-color: #fc5c65;
  text-align:center;
  border-style:inset;
  margin-top: 20px;
}

.upload span{
color:white;
margin-top:20px;
cursor: pointer;

}


.blog-form{
  display: block;
}

.admin{
  display: flex;
  flex-direction: column;
  
   margin-top: 60px;
   background-color: black;
   
   width: 30%;
   border-style: none;
  

  
}

.admin li{
  text-align: left;
  padding: 20px 10px;
 
}

.dashboard-admin{
 height: 100%;
 width: 100%;
 display: flex;
}

.blog-list{
  width: 70%;
  background:rgb(172, 166, 166);
  color: white;
  margin-top: 60px;
  display: block;
  justify-content: space-around;
}

.blog-list h1{
  text-align: center;
  color: black;
  padding: 10px;
}

.entire-blog{
  display: flex;
  
margin-top: 10px;
}


.comment{
 top: 20px;
 text-align: left;
 padding: 10px;

 margin-left: 20px;
 justify-content: space-between;
 width: 200px;
 margin-right: 8px;

}


.entire-blog{
  background-color: white;
  color:black;
  cursor: pointer;
  
}

   /*++++++++++++++++++++++++++++++++++++ blog +++++++++++++++++++++++++++++++++++++++++++++*/
.first{
  display:flex;
  flex-direction: row;
  /* gap: 1rem; */
  justify-content: space-around;
  height: 40px;
  align-items: center;
  text-align: center;
  
}
.first button{
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
  padding:5px;
  height: 30px;
  align-content: center;
  align-items: center;
  margin-top: 0;
  cursor:pointer;
}

.main-content{
  background-color:rgb(184, 176, 176);
  display:flex;
  height:50px;
  width:90%;
  margin:5px 10px;

  
}
.blogContainer{
display:flex;
flex-wrap: wrap;
flex-direction:row

}
.content{
  min-height:200px;
  border:1px solid black;
  border-top:0;
  padding:20px;
}
.main-content .btn{
  margin-right:5px;
  background-color:transparent;
  outline:none; 
  border:none;
  cursor:pointer;
  color:black;
  display:flex;
  padding:10px;
  height:30px;
  margin:0;

}
  /*++++++++++++++++++++++++++++++++++++ blog +++++++++++++++++++++++++++++++++++++++++++++*/

  .black{
    margin-top: auto;
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
  bottom: 0; 
  border-top: 2px solid gray;
  }

   
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  text-align: center;
}
 

 
.social-media{
  margin: 20px 0;
}
 
.social-media a{
  color: black;
  margin-right: 25px;
  font-size: 30px;
  text-decoration: none;
  transition: .3s linear;
  padding: 15px;
  text-align: center;
  width:30px;
  height:30px;
}
 
.social-media a:hover{
  color: #fc5c65;
}
 



.left-col h1{
  margin:20px;
}

.left-col h4{
  font-weight: bold;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-blog-view-comment-form{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
 
}
.inputblog{
  display: flex;
  flex-direction: row;
  gap: 3.4rem;
  text-align: center;
  padding: 10px;
  margin-left: 60px;
}

 .inputblogg{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  text-align: center;
   padding: 10px;
   margin-left: 60px;
} 


.blog-comment-btn{
  margin-bottom: 20px;
 
}

.blog-comment-btn a{
 font-size: 18px;
  width: auto;
}








/*_____________ single blog view________ beginning_________*/
.single-blog-view-right{
  width: 50%;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-right: 60px;
}

.single-blog-view-right p{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  padding-top: 40px;
  color: white;
  line-height: 1.8;
  text-align: justify;
}
.single-blog-view-left p{
  color:white;
  width:70%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding:40px;
  line-height: 1.8;
  text-align: justify;
}

.single-blog-view{
  width: 100%;
  
  display:flex;
}

.single-blog-view-left{
width: 50%;

}

.single-blog-view-left h2{
color:white;
padding: 40px;
font-family: 'Roboto', sans-serif;
}

.single-blog-view-left img{
  width:300px;
  height:200px;
  padding:40px;
  text-align: center;
  border-radius: 5px;

}

.single-blog-view-icon{
 
  margin-bottom: 20px;
  padding:40px;
  
}

.single-blog-view-icon a{
  cursor: pointer;
}

.single-blog-view-comment{
  color:white;
  text-align: center;
  display: block;
}

.single-blog-view-comment input[type=text]{
  padding: 10px;
  width:60%;
  margin-top: 50px 0px;
}

.single-blog-view-comment textarea{
  padding: 10px;
  width:60%;
  margin-top: 20px;
  padding-right: 50px;
  height: 200px;
}
.blog-comment-btn a{
color:white;
text-decoration: none;

}

.single-blog-view-comment label{
  margin-top:20px;
}



.blog-comment-btn button{
  background-color: #fc5c65;
    color: white;
    cursor: pointer;
}

.user-comment{
  color: white;
  display: flex;
  text-align: center;
  
}

.single-blog-comment-lower{
  display: block;
  
}



/*_____________ single blog view________ beginning_________*/
 
@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  
 
  .left-col{
    width: 100%;
    text-align: center;
  }
}
 
 
@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}
    

  @media screen and (max-width:768px) {
    #about-des{
        flex-direction: column-reverse;
        top:10px
    
    }

    #about-des img{
        border-radius: 50%;
        height: 500px;
    
    }


    .about-header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    
    

}

@media screen and (max-width:600px) {
    

    .about-header{
        display: flex;
        flex-direction: column;
        margin:10px;
    }

    

}

@media screen  and (max-width:900px){
    .inner{
      grid-template-columns: repeat(2, 1fr);
     
    }
    
  }
  
  @media screen  and (max-width:600px){
    .inner{
     display: block;
      
    }
    
  }

  @media screen and (max-width:600px) {

    .form_contact{
        display: flex;
        flex-direction: column-reverse;
        margin:10px;

    }
    
    .login-page{
        margin-top:40px;
    }

    .blog-cotainer{
        display:flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding:20px;
    }
    .blog{
        
        text-align:center;
        width: 100%;
        height: 100%;
        background: #5a5959;
        line-height: 1.5; 
    }

    .blog p{
       text-align: justify;
    }
  }

  /*_________ Home responsive _________________*/
   @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    #homeabout{
      text-align: center;
      
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: left;
      display: flex;
      flex-direction: column;

   
    }
    .gap_links{
      display: none;
    }
  }


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    #homeabout{
      text-align: center;
      
    }
  }

   /*_________ Home responsive end _________________*/

   /*_________________ Dashbord respponsive start___________________*/

@media screen and (max-width:600px) {
 .blog-list{
  display: block;
  

 }
 .entire-blog{
  display:block;
  
 }
 .entire-blog li{
  text-align: center;
 }

 .admin li{
  text-align: left;

 }

 .admin a{
  display: none;

 }

 .comment-body-color{
  display: none;
 }
  
}
 /*_________________ Portifolio starts___________________*/

.portifolio-container{
display: flex;
color:white;
justify-content: space-around;
margin: 60px 0;

}
.my-work-cards h1{
  font-size: 20px;
  padding: 20px;
  text-align: center;
  
}

.portfoliobtn{
  width: 200px;
  text-align: center;
  padding: 10px;
}
table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
}
.berror{
  display: none;
  color: red;
}

div.invalid .berror{
  display: flex;
}

.my-work-cards h2{
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  
}

.my-work-cards p{
  padding: 20px;
  text-align: center;
  
}
.my-work-cards a{
  text-decoration: none;
  color:white;
}
.my-work-cards:hover{
background-color: #fc5c65;
color:white;
}

.my-work-cards a:hover{
  cursor: pointer;
}

.my-work-cards{
  background-color: rgb(43, 40, 40);
  border-radius: 10px;
  width: 280px;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  line-height: 1.8rem;
  text-align: center;
  
}

 /*_________________ portifolio ends___________________*/


   /*_________________ Dashbord respponsive endt___________________*/

   /*_____________ single blog view________ beginning_________*/
@media screen and (max-width:600px) {
  .single-blog-view{
    display:block;

  }
  .single-blog-view-icon{
    width: 100%;
    
  }

  .single-blog-view-left{
    width: 100%;
    text-align: center;
  }

  .single-blog-view-left p{
    width: 100%;
    text-align: justify;
    font-size: 20px;
  }



  .single-blog-view-right{
    width:100%;
    text-align: justify;
    padding:0px 20px;
    font-size: 20px;

  }

  .single-blog-view-icon{
    text-align: center;
  }
  
  .single-blog-view-comment{
    color:white;
    text-align: center;
    display: block;
  }
  
  .single-blog-view-comment input[type=text]{
    padding: 10px;
    width:90%;
  }
  
  .single-blog-view-comment textarea{
    width: 90%;
    height: 200px;
    padding-bottom: 20px;
  }

  .portifolio-container{
    display: block;
    text-align: center;
    padding: 60px;


  }

  
  .sk{
    display:block;
    width: 100%;
    
  }

  .skill-box{
    width: 100%;
    margin-top: 10px;

  }

  .skill-title{
    width: 100%;
  }

  .contact-container{
    display: block;
    width: 100%;
    text-align: center;
  }

  .name{
    width: 90%;
    text-align: justify;

  }

  .name h1{
font-size: 20px;
  }
  .form_contact{
    width: 100%;
  }

  .form-group input[type=text]{
    width: 90%;
    padding:5px;
  }

  .form-group input[type=text-area]{
    width:90%
  }

  .form-group input[type=submit]{
    text-align: center;
  }


  #about-des{
    width: 100%;

  }

  #description{
    width:100%;
  }

  #homeabout{
    text-align: center;
    
  }
}

   /*_____________ single blog view________ beginning_________*/



   input[type="password"] {
    appearance: none;
  
    width: 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }

   
input[type="email"] {
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: rgb(248, 242, 242);
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
 display: none;
 padding:5px;
}

.error.active {
  display: block;
  color:red;
}


/*______________________________________________dashborsboard 2___________ beginning____________________*/



.line{

  background-color: #5a5959;
  width: 70%;
  margin-top:60px;
}

/*______________________________________________dashborsboard 2______ end_________________________*/

/* signup css statrt */

body {
  background: black;
  font-family: 'Roboto', sans-serif;
}


#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}

.container{
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;

}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form button {
  padding: 10px;
    margin:  10px 0;
    color: white;
    background-color: #fc5c65;
    border-radius: 4px;
    border: none;
    width: 100%;
  }


#form label{
  text-align: left;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 15px;
  height: 13px;
  padding-top: 5px ;
}

/* signup css    end */